<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de HQ</title>

  <link href="/stylesheets/landingpage.css" rel="stylesheet"  />
</head>
<body>
    <!-- CABEÇALHO -->
    <header>
        <span src="">Logo</span>
        <a href="#cadastro" id="cadastro">Cadastre-se</a>
        <!--<nav>
            <img class="crtl_user"src="/images/hamburguer.png"/>
            <img class="crtl_user"src="/images/profile.png"/>
        </nav>-->
    </header>
    <!-- FIM CABEÇALHO -->

    <!-- CORPO -->
    <main>
        <!-- CAPA -->
        <div class="capa"></div>
        <!-- FIM CAPA -->

        <!-- APRESENTAÇÃO -->
        <div id="convite"></div>
        <div class="merchandizing">
            <img class="convite" src="/images/convite.png" />
        </div>

        <button>Cadastre-se</button>
        <!-- FIM APRESENTAÇÃO -->

        <!-- CHAMADA -->
        <div class="chamada">
            <h1>O melhor dos quadrinhos em um só lugar !</h1>
            <div class="logo-herois">
                <img class="simbolo-heroi" src="/images/naruto.png"/>
                <img class="simbolo-heroi" src="/images/Dragonball.png"/>
                <img class="simbolo-heroi" src="/images/DoctorStrange.png"/>
                <img class="simbolo-heroi" src="/images/JL.png"/></li>
                <img class="simbolo-heroi" src="/images/super-homem.png"/>
                <img class="simbolo-heroi" src="/images/batman.png"/>
                <img class="simbolo-heroi" src="/images/avengers.png"/>
                <img class="simbolo-heroi" src="/images/x-men.png"/>
            </div>
        </div>
        <!-- FIM CHAMADA -->


        <!-- CONTEÚDO1 -->
        <section class="container">
            <!-- Quadrinhos--> 
            <div class="quadrinhos">
                <div class="capa-gibi">
                    <img src="/images/avengers.png" alt="capa do gibi">
                </div>

                <div class="capa-gibi">
                    <img src="/images/flash.png" alt="capa do gibi">
                </div>

                <div class="capa-gibi">
                    <img src="/images/Dragonball.png" alt="capa do gibi">
                </div>

                <div class="capa-gibi">
                    <img src="/images/naruto.png" alt="capa do gibi">
                </div>
            </div>
            <!-- Fim quadrinhos -->

            <!-- Descrição 1-->
            <div class="descricao">
                <h2>O que o (nome da página) tem ?</h2>

                <h3>Milhares de gibis Online</h3>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo ipsam dicta voluptates 
                provident rem quaerat nemo explicabo labore minus, nobis, consequuntur doloribus quam delectus? 
                Natus eum corrupti ex labore.
                </p>

                <h3>Fórum de discussão</h3>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo ipsam dicta voluptates 
                provident rem quaerat nemo explicabo labore minus, nobis, consequuntur doloribus quam delectus? 
                Natus eum corrupti ex labore.
                </p>

                <h3>Lançamentos</h3>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo ipsam dicta voluptates 
                provident rem quaerat nemo explicabo labore minus, nobis, consequuntur doloribus quam delectus? 
                Natus eum corrupti ex labore.
                </p>
                <!-- Fim descrição 1-->
            </div>
        </section>  
        <!-- FIM CONTEÚDO1 -->
        
        <!-- CONTEÚDO 2 -->
        <section class="container recursos">
            <!-- Descrição 2 -->
            <div class="descricao">
                <h2>E mais...</h2>

                <h3>Já sabe o que quer ?</h3>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo ipsam dicta voluptates 
                provident rem quaerat nemo explicabo labore minus, nobis, consequuntur doloribus quam delectus? 
                Natus eum corrupti ex labore.
                </p>

                <h3>Em alta </h3>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo ipsam dicta voluptates 
                provident rem quaerat nemo explicabo labore minus, nobis, consequuntur doloribus quam delectus? 
                Natus eum corrupti ex labore.
                </p>

                <h3>Títulos semelhantes</h3>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo ipsam dicta voluptates 
                provident rem quaerat nemo explicabo labore minus, nobis, consequuntur doloribus quam delectus? 
                Natus eum corrupti ex labore. 
                </p>
            </div>
            <!-- Fim descrição 2-->

            <div class="quadrinhos">
                <div class="capa-gibi">
                    <img src="/images/avengers.png" alt="capa do gibi">
                </div>
            </div>
        </section>
        <!-- FIM CONTEUDO 2 -->

        <!-- IMPRENSA -->
        <section class="imprensa">
            <span>O que estão dizendo sobre nós ?</span>
            <div>
                <img src="/images/magazine1.png"/>
                <img src="/images/magazine2.png"/>
                <img src="/images/magazine3.png"/>
                <img src="/images/magazine1.png"/>
                <img src="/images/magazine2.png"/>
                <img src="/images/magazine3.png"/>
                <img src="/images/magazine1.png"/>
            </div>
        </section>
        <!-- FIM IMPRENSA -->
    </main>

    <!-- FOOTER -->
    <footer>
       <section class="cadastro">
        <p>Cadastre-se</p>
        <form action="/cadastro" id="cadastro" method="POST">
            <div class="dados">
                <label for="nome">Digite seu nome</label>
                <input type="text" name="nome" id="nome" placeholder="nome">
                <span id="nomeError" class="error">Nome incorreto</span>
                <label for="email">Digite seu email</label>
                <input type="email" name="email" id="email" placeholder="email">
                <span id="emailError" class="error">Nome incorreto</span>
                <label for="telefone">Digite seu telefone</label>
                <input type="tel" name="telefone" id="telefone" placeholder="telefone">
                <span id="telefoneError" class="error">Nome incorreto</span>
                <label for="senha">Crie uma senha</label>
                <input type="password" name="senha" id="senha" placeholder="senha">
                <span id="senhaError" class="error">Nome incorreto</span>
                <label for="confirmaSenha">Confirme sua senha</label>
                <input type="password" name="confirmaSenha" id="confirmaSenha" placeholder="confirma senha">
                <span id="confirmaSenhaError" class="error">Nome incorreto</span>
                <label for="nascimento">Data de nascimento</label>
                <input type="text" name="nascimento" id="nascimento" placeholder="yyyy-mm-dd">
                <span id="nascimentoError" class="error">Nome incorreto</span>
            </div>
            <div class="desktop">
                <label>Selecione abaixo as suas preferências</label>
                <ul class="titulos">
                    <% preferencias.forEach(item => { %>
                    <li><input type="checkbox" name="preferencias" value="<%= item.preferencias %>" id="pr<%= item.id%>"><label for="pr<%= item.id%>"> <%= item.preferencias %> </label></li>
                    <% }) %>
                </ul>
            </div>
            <div>
                <button class="botao" type="reset">Limpar</button>
                <button class="botao" type="submit">Enviar</button>
            </div>
        </form>

       </section>
        <!-- fim cadastro  -->

        <!-- Newsletter -->
        <section class="newsletter">
            <form>
                <label for="email">Receba Nossa newsletter: </label>
                <input type="email" name="email" id="email" required/>
                <button type="submit">enviar</button>
            </form>
        </section>
        <!-- Fim newsletter -->
        </div>
    </footer> 
    <!-- FIM FOOTER -->   
</body>
</html>